
input{
    border: none;
    outline: none;
    -webkit-appearance: button;
    -webkit-appearance: none;
    border-radius: 0;
}
li{
	list-style: none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
*{
	margin: 0;
	padding: 0;
	tap-highlight-color:rgba(0,0,0,0);
	
}
input[type=button],
input[type=submit],
input[type=file],
input,
button {
	border: none;
    cursor: pointer;
    background-color:transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;    
    -webkit-appearance:none;
    outline: none;
    border: none; 
}
input:-webkit-autofill , textarea:-webkit-autofill, select:-webkit-autofill {
   
    -webkit-box-shadow: 0 0 0px 1000px transparent  inset !important;
    background-color:transparent;
    background-image: none;
    transition: background-color 50000s ease-in-out 0s; //背景色透明  生效时长  过渡效果  启用时延迟的时间
}

/*通用头部*/
.header{
    width: 100%;
    border-bottom: 1px solid #D8D8D8;
    padding: 30px 0 9px 0;  
    position: relative;
}
.header span{
    width: .3rem;
    height: .5rem;
    background: url("../html/images/return@2x.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    left: .2rem;
    top: 30px;
}
.header h2{
    font-size: .4rem;
    color: #333;
    text-align: center;
    font-weight: 400;
    letter-spacing: 1px;
} 
.main{
    width: 100%;
    height: 92%;
    padding: .3rem .68rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.mains {
    width: 100%;
    height: 1.13rem;
    border-bottom: 1px solid #f2f2f2;
}
.mains input{
    display: block;
    width: 100%;
    height: 1.13rem;
    padding-top: .4rem;
    box-sizing: border-box;
    font-size: .3rem;
}
/*眼睛*/
#click,#clicks{
	position: absolute;
    width: .8rem;
    height: .8rem;
    right: .0rem;
    top: .3rem;
}
.eye{
    position: absolute;
    width: .5rem;
    left: .2rem;
    top: .2rem;
}
/*点击按钮*/
.btn{
    display: block;
    margin: 1.2rem auto 0;
    text-align: center;
    width: 98%;
    height: 1rem;
    line-height: 1rem;
    background-image: linear-gradient(-90deg, #7F8CFF 6%, #7F8CFF 77%);
    border-radius: .46rem;
    font-family: PingFang-HK-Regular;
    font-size: .4rem;
    color: #FFFFFF;
}
p{
    text-indent: 0;
    text-align: center;
    margin-top: .2rem;
    color: #999;
}
p a{
    color: #999;
    text-decoration:none;
    border-bottom: 1px solid #999;
}
form input{
    letter-spacing: 1px;
}

/* 遮罩 */
.mask{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
    /* display: none; */
}
#mask{
	display:none;
}
.mask .mask-bg{
    width: 100%;
    height:100%;
    background-color: rgba(0,0,0,.8);

}
.mask .mask-main{
    width:4.5rem;
    height:4.2rem;
    background-color:#F2F2F2;
    position: absolute;
    left: 50%;
    top: 3.15rem;   
    transform: translateX(-50%);
    -webkit-border-radius: 10px;
  	-moz-border-radius: 10px;
 	 border-radius: 10px;
}
.maskBtn{
	display:block;
	margin: 0 auto;
	width:1.8rem;
	height:.5rem;
	line-height: .5rem;
	border:1px solid #7F8CFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color: #666;
	font-size: .28rem;	
	background-color: #f2f2f2;
}
@media screen and (min-width:320px) {
	html {
		font-size: 48px
	}

	body {
		font-size: 12px
	}
}

@media screen and (min-width:375px) {
	html {
		font-size: 50px
	}

	body {
		font-size: 12px
	}
}

@media screen and (min-width:384px) {
	html {
		font-size: 51.2px
	}

	body {
		font-size: 14px
	}
}

@media screen and (min-width:400px) {
	html {
		font-size: 53.33px
	}

	body {
		font-size: 14px
	}
}

@media screen and (min-width:414px) {
	html {
		font-size: 55.2px
	}

	body {
		font-size: 14px
	}
}

@media screen and (min-width:424px) {
	html {
		font-size: 56.53px
	}

	body {
		font-size: 14px
	}
}

@media screen and (min-width:480px) {
	html {
		font-size: 64px
	}

	body {
		font-size: 15.36px
	}
}

@media screen and (min-width:540px) {
	html {
		font-size: 72px
	}

	body {
		font-size: 17.28px
	}
}

@media screen and (min-width:720px) {
	html {
		font-size: 96px
	}

	body {
		font-size: 23.04px
	}
}

@media screen and (min-width:750px) {
	html {
		font-size: 100px
	}

	body {
		font-size: 24px
	}
}
a,a:hover,a:active,a:visited,a:link,a:focus{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    outline:none;
    background: none;
    text-decoration: none;
}