@CHARSET "UTF-8";
body,html{
	    margin: 0px;
}
.head{
		    padding-bottom: 9px;
    border-bottom: solid 1px #ccc;
    padding-top: 24px;
}
.returnBtn{
      width: 12px;
    margin-left: 5%;
    float: left;
    margin-top: 5px;
}
.titleName{
	font-size: 20px;
    width: 50%;
    margin-left: 25%;
    text-align: center;
}
.title{
	      height: 50px;
    line-height: 50px;
    font-size: 14px;
    color: #666666;
    background: #f7f5f5;
    padding-left: 5%;
}
.userName{
	    margin-top: 40px;
}
.userNameTxt{
	
}
.userName,.creditAccount,.creditType,.creditPaw,.userTel{
    height: 50px;
    line-height: 50px;
    border-bottom: solid 1px #e4e4e4;
}
.creditAccount{
	
}
.creditAccountTxt,.userNameTxt,.creditTypeTxt,.creditPawTxt,.userTelTxt{
    height: 20px;
    line-height: 20px;
    width: 80%;
    border: 0px;
    outline: none;
    font-size: 15px;
    color: #333333;
    margin-top: 20px;
}
.creditAccountTxt{
	
}
.creditType{
	
}
.creditTypeTxt{
	
}
.creditPaw{
	
}
.creditPawTxt{
	    float: left;
   
}
.eyeImage{
    width: 22px;
    float: right;
    padding: 5px;
    margin-top: 22px;
	
}
.userTel{
	
}
.userTelTxt{
	
}
.mainContent{
	width: 80%;
    margin-left: 10%;
}
.sureBtn{
    width: 80%;
    margin-left: 10%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin-top: 50px;
    font-size: 17px;
    background: #7F8CFF;
    color: #fff;
    border-radius: 30px;
}
.protocol{
	font-size: 14px;
    text-align: center;
    margin-top: 10px;
    color: #999999;
}
.attory{
	border-bottom: solid 1px #bbbbbb;
}