<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.AppIncreaseCreditRecordMapper" >
  <resultMap id="BaseResultMap" type="com.model.AppIncreaseCreditRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="appr_id" property="apprId" jdbcType="INTEGER" />
    <result column="increased_crdit" property="increasedCredit" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id,appr_id,increased_crdit,type,create_time,status
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from app_increase_credit_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectByApprId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from app_increase_credit_record
    where appr_id = #{apprId,jdbcType=INTEGER}
  </select>
  
  <select id="selectByApprIdAndType" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from app_increase_credit_record
    where appr_id = #{apprId} and type = #{type}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from app_increase_credit_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insertSelective" parameterType="com.model.AppIncreaseCreditRecord" useGeneratedKeys="true" keyProperty="id" >
    insert into app_increase_credit_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="apprId != null" >
        appr_id,
      </if>
      <if test="increasedCredit != null" >
        increased_crdit,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="apprId != null" >
        #{apprId,jdbcType=INTEGER},
      </if>
      <if test="increasedCredit != null" >
        #{increasedCredit,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.model.AppIncreaseCreditRecord" >
    update app_increase_credit_record
    <set >
      <if test="increasedCredit != null" >
        increased_crdit = #{increasedCredit,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
</mapper>