<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.AppLoanOrgMapper" >
  <resultMap id="BaseResultMap" type="com.model.AppLoanOrg" >
    <id column="loan_org_id" property="loanOrgId" jdbcType="INTEGER" />
    <result column="loan_org_name" property="loanOrgName" jdbcType="VARCHAR" />
    <result column="org_pic_url" property="orgPicUrl" jdbcType="VARCHAR" />
    <result column="org_pic_url_log" property="orgPicUrlLog" jdbcType="VARCHAR" />
    <result column="org_interface_url" property="orgInterfaceUrl" jdbcType="VARCHAR" />
    <result column="org_desc" property="orgDesc" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    loan_org_id, loan_org_name, org_pic_url, org_pic_url_log,org_interface_url, org_desc, status, create_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from app_loan_org
    where loan_org_id = #{loanOrgId,jdbcType=INTEGER}
  </select>
  <select id="selectBystatus" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from app_loan_org
    where status ='1'
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from app_loan_org
    where loan_org_id = #{loanOrgId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.model.AppLoanOrg" >
    insert into app_loan_org (loan_org_id, loan_org_name, org_pic_url, 
      org_interface_url, org_desc, status, 
      create_date)
    values (#{loanOrgId,jdbcType=INTEGER}, #{loanOrgName,jdbcType=VARCHAR}, #{orgPicUrl,jdbcType=VARCHAR}, 
      #{orgInterfaceUrl,jdbcType=VARCHAR}, #{orgDesc,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.model.AppLoanOrg" >
    insert into app_loan_org
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="loanOrgId != null" >
        loan_org_id,
      </if>
      <if test="loanOrgName != null" >
        loan_org_name,
      </if>
      <if test="orgPicUrl != null" >
        org_pic_url,
      </if>
      <if test="orgInterfaceUrl != null" >
        org_interface_url,
      </if>
      <if test="orgDesc != null" >
        org_desc,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="loanOrgId != null" >
        #{loanOrgId,jdbcType=INTEGER},
      </if>
      <if test="loanOrgName != null" >
        #{loanOrgName,jdbcType=VARCHAR},
      </if>
      <if test="orgPicUrl != null" >
        #{orgPicUrl,jdbcType=VARCHAR},
      </if>
      <if test="orgInterfaceUrl != null" >
        #{orgInterfaceUrl,jdbcType=VARCHAR},
      </if>
      <if test="orgDesc != null" >
        #{orgDesc,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.AppLoanOrg" >
    update app_loan_org
    <set >
      <if test="loanOrgName != null" >
        loan_org_name = #{loanOrgName,jdbcType=VARCHAR},
      </if>
      <if test="orgPicUrl != null" >
        org_pic_url = #{orgPicUrl,jdbcType=VARCHAR},
      </if>
      <if test="orgInterfaceUrl != null" >
        org_interface_url = #{orgInterfaceUrl,jdbcType=VARCHAR},
      </if>
      <if test="orgDesc != null" >
        org_desc = #{orgDesc,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where loan_org_id = #{loanOrgId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.AppLoanOrg" >
    update app_loan_org
    set loan_org_name = #{loanOrgName,jdbcType=VARCHAR},
      org_pic_url = #{orgPicUrl,jdbcType=VARCHAR},
      org_interface_url = #{orgInterfaceUrl,jdbcType=VARCHAR},
      org_desc = #{orgDesc,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where loan_org_id = #{loanOrgId,jdbcType=INTEGER}
  </update>
</mapper>