<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.AppSchoolNameMapper" >
  <resultMap id="BaseResultMap" type="com.model.AppSchoolName" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="schoolName" property="schoolname" jdbcType="VARCHAR" />
    <result column="is_dangerous" property="isDangerous" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, schoolName, is_dangerous
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from app_school_name
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectSchool" resultMap="BaseResultMap" parameterType="String" >
    select 
    <include refid="Base_Column_List" />
    from app_school_name
    where schoolName like CONCAT('%',#{itemKey,jdbcType=VARCHAR},'%')
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from app_school_name
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.model.AppSchoolName" >
    insert into app_school_name (id, schoolName, is_dangerous
      )
    values (#{id,jdbcType=INTEGER}, #{schoolname,jdbcType=VARCHAR}, #{isDangerous,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.model.AppSchoolName" >
    insert into app_school_name
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="schoolname != null" >
        schoolName,
      </if>
      <if test="isDangerous != null" >
        is_dangerous,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="schoolname != null" >
        #{schoolname,jdbcType=VARCHAR},
      </if>
      <if test="isDangerous != null" >
        #{isDangerous,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.AppSchoolName" >
    update app_school_name
    <set >
      <if test="schoolname != null" >
        schoolName = #{schoolname,jdbcType=VARCHAR},
      </if>
      <if test="isDangerous != null" >
        is_dangerous = #{isDangerous,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.AppSchoolName" >
    update app_school_name
    set schoolName = #{schoolname,jdbcType=VARCHAR},
      is_dangerous = #{isDangerous,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>