<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.ForDateMapper">
	<select id="selectDate4" resultType="java.util.Map" >
SELECT
	t.finishdate,
	t1.bizid
FROM
	IFM_WFM_LOG t
JOIN IFM_WFM_INSTANCE t1 ON t1.id = t.wf_id
join IFM_LOAN_APPL t2 on t1.bizid=t2.id
WHERE
	t.result = 2
AND t1.tpid = 1
	</select>
</mapper>